---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
  <main class="post mx-auto flex w-full max-w-prose flex-col gap-4">
    <header role="presentation">
      <h1 class="text-md">
        {post.data.title} - {formatDate(post.data.publishedAt)}
      </h1>
      <p class="italic">{post.data.description}</p>

      {post.data.tags && (
        <ul class="flex flex-wrap gap-2 text-sm mt-4">
          {post.data.tags.map(tag => (
            <li>
              <a href={`/tags/${tag.toLowerCase()}`} class="px-2 py-1 bg-gray-200 rounded hover:bg-gray-300">
                {tag}
              </a>
            </li>
          ))}
        </ul>
      )}
    </header>

    <Content />
  </main>
</Layout>